<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Memory</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script src="{{ url_for('static',filename='main.js') }}"></script>
</head>
<body>
    <div class='title'><p>
.----------------.  .----------------.  .----------------.  .----------------.  .----------------.  .----------------. 
| .--------------. || .--------------. || .--------------. || .--------------. || .--------------. || .--------------. |
| | ____    ____ | || |  _________   | || | ____    ____ | || |     ____     | || |  _______     | || |  ____  ____  | |
| ||_   \  /   _|| || | |_   ___  |  | || ||_   \  /   _|| || |   .'    `.   | || | |_   __ \    | || | |_  _||_  _| | |
| |  |   \/   |  | || |   | |_  \_|  | || |  |   \/   |  | || |  /  .--.  \  | || |   | |__) |   | || |   \ \  / /   | |
| |  | |\  /| |  | || |   |  _|  _   | || |  | |\  /| |  | || |  | |    | |  | || |   |  __ /    | || |    \ \/ /    | |
| | _| |_\/_| |_ | || |  _| |___/ |  | || | _| |_\/_| |_ | || |  \  `--'  /  | || |  _| |  \ \_  | || |    _|  |_    | |
| ||_____||_____|| || | |_________|  | || ||_____||_____|| || |   `.____.'   | || | |____| |___| | || |   |______|   | |
| |              | || |              | || |              | || |              | || |              | || |              | |
| '--------------' || '--------------' || '--------------' || '--------------' || '--------------' || '--------------' |
 '----------------'  '----------------'  '----------------'  '----------------'  '----------------'  '----------------' 
</p>
    </div>

    <div class='block'>{% block body %}{% endblock %}</div>
    
</body>
</html>